.productos {
    margin-top: 80px;
}

.filtro {
    position: relative;
    top: 70px
}

.filtro a {
    margin-left: 15px;
}

.cargando {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}