.cargaProductos h1 {
    font-size: 20px;
    color: #25A5A5;
}

.cargaProductos button {
    margin: 20px 0;
}

.cargaProductos input {
    border-radius: 10px;
    text-align: center;
}

.cargaProductos form {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.listaProductos {
    border: 1px lightgray solid;
}

.botonAtras {
    position: fixed;
    background-color: white;
    color: #0076fc;
    border: 0.5px #0076fc solid;
    left: 20px;
    top: 120px;
    border-radius: 10px;
    padding: 7px;
    transition: 500ms;
}

